---
import { ClientRouter } from "astro:transitions";

const { title, isPost = false } = Astro.props;
---

<head>
  <meta charset="UTF-8" />

  <meta name="viewport" content="width=device-width" />

  <link rel="icon" href="/favicon.png" />
  <meta name="generator" content={Astro.generator} />

  <title>{`${title ? `${title} - ` : ""}tekno world`}</title>

  <meta property="og:title" content={title ? `${title}` : "tekno world"} />
  <meta property="og:image" content="/favicon.png" />
  <meta property="og:url" content={Astro.url} />
  {
    isPost ? (
      <meta property="og:type" content="article" />
    ) : (
      <meta property="og:type" content="website" />
    )
  }

  <meta name="theme-color" content="#9e50bf" />

  {
    isPost && (
      // stop giscus from making links to localhost
      <meta
        name="giscus:backlink"
        content={`https://tekno.sh${Astro.url.pathname}`}
      />
    )
  }

  <script is:inline>
    window.ThemeProvider = (() => {
      const isDarkTheme = () =>
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches);

      const applyTheme = (doc = document) => {
        doc.documentElement.classList.toggle("dark", isDarkTheme());

        document.dispatchEvent(
          new CustomEvent("theme-change", {
            detail: {
              theme: isDarkTheme() ? "dark" : "light",
            },
          })
        );
      };

      const updateLabel = () => {
        const elem = document.getElementById("theme-toggle");
        if (!elem) return;
        const themeLabel = localStorage.theme ?? "system";
        elem.textContent = themeLabel;
      };

      document.addEventListener("astro:before-swap", (event) =>
        applyTheme(event.newDocument)
      );

      applyTheme();

      return {
        isDarkTheme,
        applyTheme,
        updateLabel,
      };
    })();
  </script>

  <noscript>
    <style>
      .requires-js {
        display: none;
      }
    </style>
  </noscript>

  <ClientRouter />
</head>
